DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,backend
CSRF_TRUSTED_ORIGINS=
CORS_ALLOWED_ORIGINS=http://localhost

SMS_PROVIDER=console
SMS_API_KEY=

BRIDGE_URL=http://bridge:4001
BRIDGE_SECRET=

DATABASE_URL=sqlite:////app/db_data/db.sqlite3