# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Django
old_db.sqlite3
staticfiles/
media/
logs/*
!logs/.gitkeep
*.log
*.sqlite3

# Env
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db